@media screen and (max-width:600px) {
   section#redes-sociais {
    flex-flow: row nowrap;
    align-items: top center;
    justify-content: space-between;
    display: inline-flex;
    width: 100vw;
    flex: 1 1 200px;
   }
   main{
    display: flex;
    
   }
}